# RD Station code owners, here are some of the people responsible for keeping
# the code purpose on this package straight.
# https://help.github.com/articles/about-codeowners/

/packages/eslint/ @thcerutti